automation/processors/invokeHTTP.json
{
    "identifier": "672455ba-2584-3edd-9a9c-6cbdc8505996",
    "instanceIdentifier": "b602d1a0-0c9c-33c4-5829-62cea59d041d",
    "name": "InvokeHTTP",
    "comments": "",
    "position": {
        "x": 928.0,
        "y": 56.0
    },
    "type": "org.apache.nifi.processors.standard.InvokeHTTP",
    "bundle": {
        "group": "org.apache.nifi",
        "artifact": "nifi-standard-nar",
        "version": "1.17.0"
    },
    "properties": {
        "Proxy Host": null,
        "Attributes to Send": null,
        "use-etag": "false",
        "proxy-configuration-service": null,
        "Proxy Type": "http",
        "cookie-strategy": "DISABLED",
        "Connection Timeout": "5 secs",
        "send-message-body": "true",
        "set-form-filename": "true",
        "Always Output Response": "false",
        "etag-max-cache-size": "10MB",
        "Content-Encoding": "DISABLED",
        "disable-http2": "False",
        "idle-timeout": "5 mins",
        "Put Response Body In Attribute": null,
        "Use Chunked Encoding": "false",
        "Follow Redirects": "True",
        "Remote URL": "http://ldes-client-sink/member",
        "form-body-form-name": null,
        "Content-Type": "${mime.type}",
        "flow-file-naming-strategy": "RANDOM",
        "max-idle-connections": "5",
        "invokehttp-proxy-user": null,
        "Read Timeout": "15 secs",
        "Max Length To Put In Attribute": "256",
        "ignore-response-content": "false",
        "Proxy Port": null,
        "SSL Context Service": null,
        "Digest Authentication": "false",
        "HTTP Method": "POST",
        "Add Response Headers to Request": "false",
        "oauth2-access-token-provider": null,
        "Basic Authentication Username": null,
        "Include Date Header": "True",
        "Penalize on \"No Retry\"": "false",
        "Useragent": null
    },
    "propertyDescriptors": {
        "Proxy Host": {
            "name": "Proxy Host",
            "displayName": "Proxy Host",
            "identifiesControllerService": false,
            "sensitive": false
        },
        "Attributes to Send": {
            "name": "Attributes to Send",
            "displayName": "Request Header Attributes Pattern",
            "identifiesControllerService": false,
            "sensitive": false
        },
        "use-etag": {
            "name": "use-etag",
            "displayName": "Response Cache Enabled",
            "identifiesControllerService": false,
            "sensitive": false
        },
        "proxy-configuration-service": {
            "name": "proxy-configuration-service",
            "displayName": "Proxy Configuration Service",
            "identifiesControllerService": true,
            "sensitive": false
        },
        "Proxy Type": {
            "name": "Proxy Type",
            "displayName": "Proxy Type",
            "identifiesControllerService": false,
            "sensitive": false
        },
        "Basic Authentication Password": {
            "name": "Basic Authentication Password",
            "displayName": "Request Password",
            "identifiesControllerService": false,
            "sensitive": true
        },
        "cookie-strategy": {
            "name": "cookie-strategy",
            "displayName": "Response Cookie Strategy",
            "identifiesControllerService": false,
            "sensitive": false
        },
        "Connection Timeout": {
            "name": "Connection Timeout",
            "displayName": "Socket Connect Timeout",
            "identifiesControllerService": false,
            "sensitive": false
        },
        "send-message-body": {
            "name": "send-message-body",
            "displayName": "Request Body Enabled",
            "identifiesControllerService": false,
            "sensitive": false
        },
        "set-form-filename": {
            "name": "set-form-filename",
            "displayName": "Request Multipart Form-Data Filename Enabled",
            "identifiesControllerService": false,
            "sensitive": false
        },
        "Always Output Response": {
            "name": "Always Output Response",
            "displayName": "Response Generation Required",
            "identifiesControllerService": false,
            "sensitive": false
        },
        "etag-max-cache-size": {
            "name": "etag-max-cache-size",
            "displayName": "Response Cache Size",
            "identifiesControllerService": false,
            "sensitive": false
        },
        "Content-Encoding": {
            "name": "Content-Encoding",
            "displayName": "Request Content-Encoding",
            "identifiesControllerService": false,
            "sensitive": false
        },
        "disable-http2": {
            "name": "disable-http2",
            "displayName": "HTTP/2 Disabled",
            "identifiesControllerService": false,
            "sensitive": false
        },
        "idle-timeout": {
            "name": "idle-timeout",
            "displayName": "Socket Idle Timeout",
            "identifiesControllerService": false,
            "sensitive": false
        },
        "Put Response Body In Attribute": {
            "name": "Put Response Body In Attribute",
            "displayName": "Response Body Attribute Name",
            "identifiesControllerService": false,
            "sensitive": false
        },
        "Use Chunked Encoding": {
            "name": "Use Chunked Encoding",
            "displayName": "Request Chunked Transfer-Encoding Enabled",
            "identifiesControllerService": false,
            "sensitive": false
        },
        "Follow Redirects": {
            "name": "Follow Redirects",
            "displayName": "Response Redirects Enabled",
            "identifiesControllerService": false,
            "sensitive": false
        },
        "Remote URL": {
            "name": "Remote URL",
            "displayName": "HTTP URL",
            "identifiesControllerService": false,
            "sensitive": false
        },
        "form-body-form-name": {
            "name": "form-body-form-name",
            "displayName": "Request Multipart Form-Data Name",
            "identifiesControllerService": false,
            "sensitive": false
        },
        "Content-Type": {
            "name": "Content-Type",
            "displayName": "Request Content-Type",
            "identifiesControllerService": false,
            "sensitive": false
        },
        "flow-file-naming-strategy": {
            "name": "flow-file-naming-strategy",
            "displayName": "Response FlowFile Naming Strategy",
            "identifiesControllerService": false,
            "sensitive": false
        },
        "max-idle-connections": {
            "name": "max-idle-connections",
            "displayName": "Socket Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false
        },
        "invokehttp-proxy-user": {
            "name": "invokehttp-proxy-user",
            "displayName": "Proxy Username",
            "identifiesControllerService": false,
            "sensitive": false
        },
        "Read Timeout": {
            "name": "Read Timeout",
            "displayName": "Socket Read Timeout",
            "identifiesControllerService": false,
            "sensitive": false
        },
        "Max Length To Put In Attribute": {
            "name": "Max Length To Put In Attribute",
            "displayName": "Response Body Attribute Size",
            "identifiesControllerService": false,
            "sensitive": false
        },
        "invokehttp-proxy-password": {
            "name": "invokehttp-proxy-password",
            "displayName": "Proxy Password",
            "identifiesControllerService": false,
            "sensitive": true
        },
        "ignore-response-content": {
            "name": "ignore-response-content",
            "displayName": "Response Body Ignored",
            "identifiesControllerService": false,
            "sensitive": false
        },
        "Proxy Port": {
            "name": "Proxy Port",
            "displayName": "Proxy Port",
            "identifiesControllerService": false,
            "sensitive": false
        },
        "SSL Context Service": {
            "name": "SSL Context Service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false
        },
        "Digest Authentication": {
            "name": "Digest Authentication",
            "displayName": "Request Digest Authentication Enabled",
            "identifiesControllerService": false,
            "sensitive": false
        },
        "HTTP Method": {
            "name": "HTTP Method",
            "displayName": "HTTP Method",
            "identifiesControllerService": false,
            "sensitive": false
        },
        "Add Response Headers to Request": {
            "name": "Add Response Headers to Request",
            "displayName": "Response Header Request Attributes Enabled",
            "identifiesControllerService": false,
            "sensitive": false
        },
        "oauth2-access-token-provider": {
            "name": "oauth2-access-token-provider",
            "displayName": "Request OAuth2 Access Token Provider",
            "identifiesControllerService": true,
            "sensitive": false
        },
        "Basic Authentication Username": {
            "name": "Basic Authentication Username",
            "displayName": "Request Username",
            "identifiesControllerService": false,
            "sensitive": false
        },
        "Include Date Header": {
            "name": "Include Date Header",
            "displayName": "Request Date Header Enabled",
            "identifiesControllerService": false,
            "sensitive": false
        },
        "Penalize on \"No Retry\"": {
            "name": "Penalize on \"No Retry\"",
            "displayName": "Request Failure Penalization Enabled",
            "identifiesControllerService": false,
            "sensitive": false
        },
        "Useragent": {
            "name": "Useragent",
            "displayName": "Request User-Agent",
            "identifiesControllerService": false,
            "sensitive": false
        }
    },
    "style": {},
    "schedulingPeriod": "0 sec",
    "schedulingStrategy": "TIMER_DRIVEN",
    "executionNode": "ALL",
    "penaltyDuration": "1 sec",
    "yieldDuration": "1 sec",
    "bulletinLevel": "WARN",
    "runDurationMillis": 0,
    "concurrentlySchedulableTaskCount": 1,
    "autoTerminatedRelationships": [
        "Response",
        "No Retry",
        "Retry",
        "Original",
        "Failure"
    ],
    "scheduledState": "ENABLED",
    "retryCount": 5,
    "retriedRelationships": [
        "Retry",
        "Failure"
    ],
    "backoffMechanism": "YIELD_PROCESSOR",
    "maxBackoffPeriod": "30 sec",
    "componentType": "PROCESSOR",
    "groupIdentifier": "2f2384c8-01b3-3677-ae50-91aa545917b5"
}

